/*global*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@400;600;700;800;900&display=swap");
a {
  text-decoration: none;
}
/*utilities*/

/*nav*/
nav.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 39px;
}
nav .menu {
  display: flex;
  justify-items: center;
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bolder;
  letter-spacing: 3px;
  margin-right: 17px;
  color: white;
}
body {
  background-image: url("/img/360_F_178489205_OfwPhOnlO7ZhHhb65JAvmNKnqJylbMBp.jpg");
}
header {
  color: black;
  background-color: #ffffff;
}
footer {
  color: black;
  background-color: #ffffff;
}
main {
  color: black;
  background-color: #ffffff;
}
.carousel-item {
  height: 32rem;
  background: white;
  position: relative;
}
.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
.carousel-fade .carousel-item,
.carousel-item img {
  max-height: 90vh;
}
